.tabs {
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    font-size: 0;
}

.tab_item {
    margin: 0;
    width: calc(100%/var(--num-tab-items));
    font-size: 1.6rem;
    height: 24px;
    border-bottom: 3px solid var(--sidebar-non-existant);
    line-height: 24px;
    text-align: center;
    color: var(--sidebar-non-existant);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}


[n="1"] {
    --num-tab-items: 1;
}

[n="2"] {
    --num-tab-items: 2;
}

[n="3"] {
    --num-tab-items: 3;
}

[n="4"] {
    --num-tab-items: 4;
}

[n="5"] {
    --num-tab-items: 5;
}

.tab_item:hover {
    opacity: 0.75;
}

input[class="tab"] {
    display: none;
    margin: 0;
}

.tabs .tab_content {
    display: none;
    font-size: 1.6rem;
}

.tabs>[id^=rust]:checked~#rust_code_content,
.tabs>[id^=cpp]:checked~#cpp_code_content,
.tabs>[id^=cs]:checked~#cs_code_content,
.tabs>[id^=unity]:checked~#unity_code_content,
.tabs>[id^=python]:checked~#python_code_content {
    display: block;
}

.tabs input:checked+.tab_item {
    border-bottom: 2px solid var(--fg);
    color: var(--fg);
}